body {
    font-family: 'Merriweather', serif;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

.buttons {
    text-align: center;
}



.cats {
    border-bottom: solid white 2px;
}
